<!--
 @category    Mana
 @package     Manadev_Seo
 @copyright   Copyright (c) http://www.manadev.com
 @license     http://www.manadev.com/license  Proprietary License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Manadev_Core::manadev">
                    <resource id="Manadev_Seo::url_keys" title="SEO URL Keys" sortOrder="300">
                        <resource id="Manadev_Seo::url_key_save" title="Save" sortOrder="100"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Manadev_Seo::global_configuration" title="Manadev SEO Settings"
                                      sortOrder="10200"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>