<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageside_adminusefullinks>
            <general>
                <enabled>0</enabled>
                <module_name>Admin Preview/Edit Links</module_name>
                <module_page_link>https://mageside.com/admin-links-preview-and-edit.html</module_page_link>
            </general>
        </mageside_adminusefullinks>
    </default>
</config>