#*
!/web/
/web/.buildpath
/web/.cache
/web/.metadata
/web/.project
/web/.settings
/web/.vscode
/web/atlassian*
/web/nbproject
/web/robots.txt
/web/pub/robots.txt
/web/sitemap
/web/sitemap.xml
/web/pub/sitemap
/web/pub/sitemap.xml
/web/.idea
/web/.gitattributes
/web/app/config_sandbox
/web/app/code/Magento/TestModule*
/web/lib/internal/flex/uploader/.actionScriptProperties
/web/lib/internal/flex/uploader/.flexProperties
/web/lib/internal/flex/uploader/.project
/web/lib/internal/flex/uploader/.settings
/web/lib/internal/flex/varien/.actionScriptProperties
/web/lib/internal/flex/varien/.flexLibProperties
/web/lib/internal/flex/varien/.project
/web/lib/internal/flex/varien/.settings
/web/node_modules
/web/.grunt
/web/Gruntfile.js
/web/package.json
/web/.php_cs
/web/.php_cs.cache
/web/grunt-config.json
/web/dev/tools/grunt/configs/local-themes.js
/web/pub/static/*
/web/pub/media/*.*
!/web/pub/media/.htaccess
/web/pub/media/attribute/*
!/web/pub/media/attribute/.htaccess
/web/pub/media/analytics/*
/web/pub/media/catalog/*
!/web/pub/media/catalog/.htaccess
/web/pub/media/customer/*
!/web/pub/media/customer/.htaccess
/web/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/f
/web/var/cache/*
/web/var/log/*
/web/app/etc/env.php
/web/var/session/
