<?xml version="1.0"?>
<!--
 @category    Mana
 @package     Manadev_LayeredNavigationCategoryTree
 @copyright   Copyright (c) http://www.manadev.com
 @license     http://www.manadev.com/license  Proprietary License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mana_category_tree" frontName="mana_category_tree">
            <module name="Manadev_LayeredNavigationCategoryTree"/>
        </route>
    </router>
</config>