<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="CommerceExtensions_SearchtermsImportExport::system_convert_searchterms" title="Import/Export Search Terms" sortOrder="40" module="CommerceExtensions_SearchtermsImportExport" parent="Magento_Backend::system_convert" action="searchterms/data/importExport" resource="CommerceExtensions_SearchtermsImportExport::import_export"/>
    </menu>
</config>

