<!--
 @category    Mana
 @package     Manadev_LayeredNavigationAjax
 @copyright   Copyright (c) http://www.manadev.com
 @license     http://www.manadev.com/license  Proprietary License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Manadev_LayeredNavigationAjax" setup_version="1">
        <sequence>
            <module name="Manadev_LayeredNavigationSettings"/>
        </sequence>
    </module>
</config>