<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Manadev\LayeredNavigation\Registries\FilterTemplates\PriceFilterTemplates">
        <arguments>
            <argument name="filterTemplates" xsi:type="array">
                <item name="slider" xsi:type="object">Manadev\LayeredNavigationSliders\FilterTemplates\Price\Slider</item>
                <item name="range_input" xsi:type="object">Manadev\LayeredNavigationSliders\FilterTemplates\Price\RangeInput</item>
            </argument>
        </arguments>
    </type>

    <type name="Manadev\LayeredNavigation\Registries\FilterTemplates\DecimalFilterTemplates">
        <arguments>
            <argument name="filterTemplates" xsi:type="array">
                <item name="slider" xsi:type="object">Manadev\LayeredNavigationSliders\FilterTemplates\Decimal\Slider</item>
                <item name="min_max_slider" xsi:type="object">Manadev\LayeredNavigationSliders\FilterTemplates\Decimal\MinMaxSlider</item>
                <item name="range_input" xsi:type="object">Manadev\LayeredNavigationSliders\FilterTemplates\Decimal\RangeInput</item>
            </argument>
        </arguments>
    </type>

    <type name="Manadev\LayeredNavigation\Registries\FilterTemplates\DropdownFilterTemplates">
        <arguments>
            <argument name="filterTemplates" xsi:type="array">
                <item name="slider" xsi:type="object">Manadev\LayeredNavigationSliders\FilterTemplates\Dropdown\Slider</item>
            </argument>
        </arguments>
    </type>

    <type name="Manadev\LayeredNavigationSliders\Registries\SliderStyles">
        <arguments>
            <argument name="sliderStyles" xsi:type="array">
                <item name="" xsi:type="string">Style 1</item>
                <item name="style2" xsi:type="string">Style 2</item>
                <item name="style3" xsi:type="string">Style 3</item>
                <item name="style4" xsi:type="string">Style 4</item>
            </argument>
        </arguments>
    </type>
    <type name="Manadev\LayeredNavigationSliders\Registries\MobileSliderStyles">
        <arguments>
            <argument name="sliderStyles" xsi:type="array">
                <item name="same_as_desktop" xsi:type="string">Same as desktop</item>
                <item name="hide_slider" xsi:type="string">Hide slider; only use range input</item>
                <item name="" xsi:type="string">Style 1</item>
                <item name="style2" xsi:type="string">Style 2</item>
                <item name="style3" xsi:type="string">Style 3</item>
                <item name="style4" xsi:type="string">Style 4</item>
            </argument>
        </arguments>
    </type>

    <type name="Manadev\ProductCollection\Registries\FacetResources">
        <arguments>
            <argument name="facetResources" xsi:type="array">
                <item name="decimal_slider_range" xsi:type="object">Manadev\LayeredNavigationSliders\Resources\Facets\Decimal\SliderRangeFacetResource</item>
                <item name="price_slider_range" xsi:type="object">Manadev\LayeredNavigationSliders\Resources\Facets\Price\PriceSliderRangeFacetResource</item>
                <item name="dropdown_slider_range" xsi:type="object">Manadev\LayeredNavigationSliders\Resources\Facets\Dropdown\DropdownSliderRangeFacetResource</item>
                <item name="decimal_min_max_slider_range" xsi:type="object">Manadev\LayeredNavigationSliders\Resources\Facets\Decimal\MinMaxSliderRangeFacetResource</item>
            </argument>
        </arguments>
    </type>

    <type name="Manadev\ProductCollection\Registries\FilterResources">
        <arguments>
            <argument name="filterResources" xsi:type="array">
                <item name="layered_min_max" xsi:type="object">Manadev\LayeredNavigationSliders\Resources\Filters\MinMaxFilterResource</item>
            </argument>
        </arguments>
    </type>

    <type name="Manadev\LayeredNavigationSettings\Blocks\Adminhtml\FilterForm">
        <plugin name="Manadev\LayeredNavigationSliders" type="Manadev\LayeredNavigationSliders\Plugins\FilterForm" sortOrder="100"/>
    </type>
</config>